.pageContainer {
  padding: 24px 240px;
}

.termContainer {
  padding: 0 0 24px 0;
}

@media screen and (max-width: 1024px) {
  .pageContainer {
    padding: 20px 40px;
  }
}


@media screen and (max-width: 600px) {
  .pageContainer {
    padding: 24px 16px;
  }
}
